<p style="font-family: Arial; font-size:3vw;color:purple; font-style:bold"><br>
Clustering Exercise Notebook Solutions
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use numpy libraries.

You may find some of these questions are fairly straightforward to answer using built-in numpy functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used numpy functions.

In [1]:
# DO NOT MODIFY

# import appropriate libraries

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

In [2]:
# DO NOT MODIFY

# We will use the minute weather dataset for this exercise.

def get_data():
    return pd.read_csv('./weather/minute_weather.csv')

df = get_data()

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 1: Sampling Down a Time Series Dataset<br><br></p>


In the cell below, modify the function to RETURN a new dataframe that is 
sampled down by taking every k row only. For example, if k = 5, the 
function will take every 5th row and skip rows in between.

The inputs to function are a dataframe and an integer k.

In [3]:
# modify this cell

def down_sample(df, k):
    ### BEGIN SOLUTION
    new_df = df[(df['rowID'] % k) == 0]
    return new_df
    ### END SOLUTION

In [4]:
# DO NOT MODIFY
ans = 10486

try:
    sampled_df = down_sample(df, 100)
    assert np.alltrue(sampled_df.shape[0] == ans)
except AssertionError as e: print("Try again, your output did not match the expected answer above")

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 2: Data Cleaning<br><br></p>


In the cell below, modify the function to do following tasks and RETURN a new data frame: (do not modify the input dataframe) <br><br>

- delete column 'rain_accumulation'
- delete column 'rain_duration'
- delete rows that contain atleast one NULL

In [5]:
# modify this cell

def clean_data(df):
    ### BEGIN SOLUTION
    df_copy = df.copy()
    del df_copy['rain_accumulation']
    del df_copy['rain_duration']
    return df_copy.dropna()
    ### END SOLUTION

In [6]:
# DO NOT MODIFY

try: 
    cleaned_df = clean_data(sampled_df)
    assert np.alltrue(sampled_df.shape == (10486, 13))
    assert np.alltrue(cleaned_df.shape == (10484, 11))
except AssertionError as e: print("Try again ! Check both  clean_data and down_sample functions")

In [7]:
cleaned_df.describe()

,rowID,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,relative_humidity
count,1.048400e+04,10484.000000,10484.000000,10484.000000,10484.000000,10484.000000,10484.000000,10484.000000,10484.000000,10484.000000
mean,5.242810e+05,916.897005,60.888712,160.658146,2.765548,162.042827,3.382354,167.155475,2.134376,48.881696
std,3.027146e+05,3.087339,12.029661,95.839184,2.026941,92.375856,2.366671,98.572942,1.736101,25.995527
min,0.000000e+00,905.100000,32.360000,0.000000,0.100000,0.000000,0.200000,0.000000,0.000000,1.500000
25%,2.621750e+05,914.800000,51.800000,61.000000,1.300000,68.000000,1.600000,74.000000,0.800000,26.100000
50%,5.242500e+05,916.700000,60.800000,182.000000,2.200000,186.000000,2.700000,181.000000,1.600000,46.200000
75%,7.864250e+05,918.800000,69.980000,217.000000,3.800000,223.000000,4.525000,211.000000,3.000000,69.300000
max,1.048500e+06,929.400000,96.440000,359.000000,20.100000,359.000000,20.900000,359.000000,19.500000,92.900000

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 3: Perform Scaling of input data<br><br></p>

In the cell below, modify the function that takes three inputs: a dataframe D, a list of features F
<br>
The function should do the following:
<br>
- Pick out columns corresponding to features F from dataframe D
- Use StandardScaler to perform scaling and return the scaled data frame

In [8]:
# modify this cell

def scale_task(D, F):
    ### BEGIN SOLUTION
    df_copy = D.copy()
    df_copy = df_copy[F]
    X = StandardScaler().fit_transform(df_copy)  
    return pd.DataFrame(X, columns=df_copy.columns)
    ### END SOLUTION

In [9]:
# DO NOT MODIFY

try: 
    features = ['air_pressure', 'air_temp', 'relative_humidity']
    scaled_data = scale_task(cleaned_df, features)
    assert np.allclose(scaled_data.mean(axis=0), 0)
    assert np.allclose(scaled_data.std(axis=0),1, atol=1e-04)
except AssertionError as e: print("Try again, your solution did not produce the expected output above")

<p style="font-family: Arial; font-size:2.75vw;color:purple; font-style:bold"><br>

Exercise 4: Perform Clustering<br><br></p>

In the cell below, modify the function that takes two inputs: a dataframe D (already scaled using your previous function), and an integer for # of clusters to create N.
<br>
The function should do the following:
<br>
- Perform clustering using your algorithm of choice
- Create N clusters
- Return a **dataframe** of N rows, where each row is a cluster center.

In [10]:
# modify this cell

def clustering_task(D, N):
    ### BEGIN SOLUTION
    kmeans = KMeans(n_clusters=N)
    model  = kmeans.fit(D)
    return pd.DataFrame(model.cluster_centers_, columns=D.columns)
    ### END SOLUTION

In [11]:
# DO NOT MODIFY

try: 
    ct = clustering_task(scaled_data, 3)
    assert np.alltrue(ct.shape == (3, 3))
except AssertionError as e: print("Keep trying - ensure all previous functions also work correctly ")

try:
    print(40*'-')
    print(ct.describe())
except AssertionError as e: print("Ensure clustering_task returns a Pandas dataframe")

C:\Users\Hasan\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

----------------------------------------
       air_pressure  air_temp  relative_humidity
count      3.000000  3.000000           3.000000
mean       0.150029 -0.063170          -0.073985
std        0.893172  0.903657           1.010831
min       -0.480898 -0.890128          -0.803721
25%       -0.360975 -0.545455          -0.650879
50%       -0.241052 -0.200783          -0.498037
75%        0.465493  0.350309           0.290882
max        1.172037  0.901400           1.079802